.alert {
    padding: 20px;
    transition: all .3s ease;
    
}

    .alert:hover, .alert:focus {
        transform: scale(1.04);
        -webkit-box-shadow: 0 8px 20px #e8e8e8;
        box-shadow: 0 8px 20px #e8e8e8;
       
    }

.alert-wrap {
    width: 100%;
    margin: 30px auto 0;
    /*margin-right: 400px;*/
    /*margin-left:1150px;*/
}

.alert .close {
    opacity: 0;
    transition: opacity .3s ease;
    width: 100%;
}

.alert:hover .close, .alert:focus .close {
    opacity: .2;
    width: 100%;
}

.alert i {
    min-width: 100px;
    text-align: center;
}

.alert-success {
    background: rgb(214,233,198);
    background: linear-gradient(0deg, rgba(214,233,198,1) 0%, rgba(198,233,229,1) 100%);
    width: 100%;
    height: 100px;
}

.alert-info {
    background: rgb(188,232,241);
    background: linear-gradient(0deg, rgba(188,232,241,1) 0%, rgba(188,208,241,1) 100%);
    width: 100%;
    height: 100px;
}

.alert-warning {
    background: rgb(250,235,204);
    background: linear-gradient(0deg, rgba(250,235,204,1) 0%, rgba(250,227,204,1) 100%);
    width: 100%;
    height: 100px;
}

.alert-danger {
    background: rgb(235,204,209);
    background: linear-gradient(0deg, rgba(235,204,209,1) 0%, rgba(235,204,221,0.927608543417367) 100%);
    width: 100%;
    height: 100px;
}